<div class="row justify-content-sm-center">
<div class="col-sm-10">
<div class="py-2 search-box">
  <form method="POST" action="" name="searchform" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-7 text-center">
        <h6>Travel and Entertainment Search</h6>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
    <div class="row p-2">
      <div class="col-sm-1">
      </div>
      <label class="col-sm-3 col-form-label col-form-label-sm">Keyword<span class="red">*</span></label>
      <div class="col-sm-7">
        <input type="text" class="form-control form-control-sm"  id="keyword" formControlName="keyword" required>
        <div *ngIf="myForm.get('keyword').invalid && ( myForm.get('keyword').dirty || myForm.get('keyword').touched)" class="red">
          <div *ngIf="myForm.get('keyword').errors.required || myForm.get('keyword').errors.whitespace">
            Please enter a keyword.
          </div>
        </div>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
    <div class="row p-2">
      <div class="col-sm-1">
      </div>
      <label for="categories" class="col-sm-3 col-form-label col-form-label-sm">Category</label>
      <div class="col-sm-5">
        <select  class="form-control form-control-sm" id="category" formControlName="category">
          <option *ngFor="let cate of categories" [value]="cate.value">{{cate.name}}</option>
        </select>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
    <div class="row p-2">
      <div class="col-sm-1">
      </div>
      <label class="col-sm-3 col-form-label col-form-label-sm">Distance (miles)</label>
      <div class="col-sm-5">
        <input type="text" class="form-control form-control-sm" id="distance" placeholder="10" formControlName="distance">
      </div>
      <div class="col-sm-1">
      </div>
    </div>
    <fieldset>
      <div class="row p-2">
        <div class="col-sm-1">
        </div>
        <legend class="col-form-label col-sm-3 pt-0 col-form-label-sm">From<span class="red">*</span></legend>
        <div class="col-sm-7">
          <div class="form-check">
            <input class="form-check-input" type="radio" id="here" formControlName="from" value="here" checked>
            <label class="form-check-label col-form-label-sm">
              Current location
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="other" formControlName="from" value="other">
            <label class="form-check-label col-form-label-sm" style="width: 100%;" >
              Other, Please specify:  
              <input type="text" class="form-control form-control-sm" id="location" placeholder="Enter a location" formControlName="location" #location>
              <div *ngIf="myForm.get('location').invalid && (myForm.get('location').dirty || myForm.get('location').touched)" class="red">
                <div *ngIf="myForm.get('location').errors.required || myForm.get('location').errors.whitespace">
                  Please enter a location.
                </div>
              </div>
            </label>
          </div>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
    </fieldset>
    <div class="row p-1 justify-content-sm-center">
      <div class="col-sm-10">
        <button type="submit" 
                id="search" 
                class="btn btn-primary btn-sm"
                [disabled]="disable_search">

                <i class="fas fa-search"></i>Search
        </button>

        <button type="reset" (click)="clear()" id="clear" class="btn btn-sm">Clear</button>
      </div>
    </div>
  </form>
</div>
</div>
</div>
