.containerdiv {
  border: 0;
  float: left;
  position: relative;
  width: 300px;
  height: 5px;
} 
.cornerimage {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
 }
 
 img{
   max-width: 300px;
 }


 .star {
  font-size: 0.625rem;
  position: relative;  
  display: inline-block;
  color: transparent;
}

.full {
  color: rgb(251,95,0);
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: rgb(251,95,0);
}

@media (min-width:300px) and (max-width: 550px) {
  :host ::ng-deep .btn-sm {
    padding: .15rem .3rem;
    font-size: .625rem;
  }
}